{% extends 'myApp/base.html' %}

{% block quill %}
    <div class="main-quill">
        <div class="container">
            <div id="editor"></div>
            <button class="qpress"><a href="">Сохранить</a></button>
        </div>
    </div>
{% endblock %}


{% block data %}

    <div class="data">
        <div class="title"><p>Содержание</p></div>
        <div class="blank">
            <div class="content">
                  {{ data|safe }}
            </div>


        </div>
        <button class="press"><p>Редактировать</p></button>

    </div>



{% endblock %}



{% block nav %}
    <div class="info">
        <div class="n-title"><a href="{% url 'myApp:home' %}">Ссылка 1</a></div>
    </div>
    <div class="info">
        <div class="n-title"><a href="{% url 'myApp:home' %}">Ссылка 2</a></div>
    </div>
    <div class="info">
        <div class="n-title"><a href="{% url 'myApp:home' %}">Ссылка 3</a></div>
    </div>
    <div class="info">
       <div class="n-title"><a href="{% url 'myApp:home' %}">Ссылка 4</a></div>
    </div>
    <div class="info">
        <div class="n-title"><a href="{% url 'myApp:home' %}">Ссылка 5</a></div>
    </div>

{% endblock %}