{% extends 'myApp/base.html' %}
{% block data %}
    <div class="side">
        <div class="title" style="background-color: #20967C; border-color: rgb(35,122,127)"><p>Лента новостей</p></div>
        <div class="blank">
            <div class="news">
                <div class="n-title"><div class="icon"></div><p>12/18/2018</p> </div>
                <div class="content">
                    <p>Обновлен раздел Гимназисты. Информация о поступлении в ВУЗы.</p>
                </div>
            </div>
             <div class="news">
                <div class="n-title"><div class="icon"></div><p>12/18/2018</p> </div>
                <div class="content">
                    <p>Обновлен раздел Гимназисты. Информация о поступлении в ВУЗы.</p>
                </div>
            </div>
             <div class="news">
                <div class="n-title"><div class="icon"></div><p>12/18/2018</p> </div>
                <div class="content">
                    <p>Обновлен раздел Гимназисты. Информация о поступлении в ВУЗы.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="title" style="background-color: #FFD72C; border-color: rgb(253,166,33)"><p>События</p></div>
        <div class="action">
            <div class="title"><p>III городской конкурс по английскому языку «QUIZ-GAME»</p></div>
            <div class="content"><p>
                Начало конкурса в 10-00 часов, регистрация команд участников c 9.30 до 9.55.
                <br>
                Справки по телефону: 35-64-22
                <br>
                Координатор: Дубинина Юлия Владимировна.</p></div>
            <div class="bottom"><p>Дата публикации: 11/12/2018</p></div>
        </div>
        <div class="action">
            <div class="title"><p>III городской конкурс по английскому языку «QUIZ-GAME»</p></div>
            <div class="content"><p>
                Начало конкурса в 10-00 часов, регистрация команд участников c 9.30 до 9.55.
                <br>
                Справки по телефону: 35-64-22
                <br>
                Координатор: Дубинина Юлия Владимировна.</p></div>
            <div class="bottom"><p>Дата публикации: 11/12/2018</p></div>
        </div>
        <div class="action">
            <div class="title"><p>III городской конкурс по английскому языку «QUIZ-GAME»</p></div>
            <div class="content"><p>
                Начало конкурса в 10-00 часов, регистрация команд участников c 9.30 до 9.55.
                <br>
                Справки по телефону: 35-64-22
                <br>
                Координатор: Дубинина Юлия Владимировна.</p></div>
            <div class="bottom"><p>Дата публикации: 11/12/2018</p></div>
        </div>
    </div>
{% endblock %}
{% block nav %}
            <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Сведения об образовательной организации</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Из истории гимназии</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Награды и достижения</a> </div>
            </div>
            <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Наши герб и гимн</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Виртуальное путешествие по гимназии</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Школьная газета</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Телефоны доверия и служб социально-психологической помощи</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Вакантные места для приема (перевода)</a> </div>
            </div>
             <div class="info">
                <div class="n-title"><a href="{% url 'myApp:about' %}">Архив событий</a> </div>
            </div>
{% endblock %}