.menu{
    width: 950px;
    height: 100px;
    margin: 0 auto;
    /*background: white;*/
    display: none;
}
.menu-item{
    width: 190px;
    height: 50px;
    float: left;
    background: white;
    transition: 0.5s;
    cursor: pointer;
}
.menu-item:hover{
    background-color: #20967C;
}
.menu-item:hover a{
    color: white;
    font-size: 14pt;
}
.menu-item a{
    width: 190px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}